configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: "apps";
    display-run: "run";
    display-window: "windows";
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
    hover-select: true;
    me-select-entry: "";
    me-accept-entry: "MousePrimary";
}

@theme "theme.rasi"
