[Unit]
Description=Sunshine game streaming host
Documentation=https://app.lizardbyte.dev/Sunshine
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/sunshine
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=default.target
