[Unit]
Description=Sunshine game streaming host
Documentation=https://app.lizardbyte.dev/Sunshine
ConditionPathExists=/usr/bin/sunshine
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=%h/.local/bin/wait-for-polybar 30
ExecStart=/usr/bin/sunshine
Restart=on-failure
RestartSec=5
TimeoutStopSec=10

[Install]
WantedBy=default.target
